<div class="jumbotron text-center jumbotron-sign">
  <img class="mb-4" src="/assets/top.jpg" alt="ユーザー登録画面画像" width="270" height="180">
  <h1 class="h3 mb-3 font-weight-normal">ユーザー登録</h1>
  
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="field">
      <%= f.label :username, "ニックネーム" %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username", class: "form-control" %>
    </div>
  
    <div class="field">
      <%= f.label :email, "メールアドレス" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  
    <div class="field">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>
  
    <div class="field">
      <%= f.label :password_confirmation, "パスワード" %><em>(確認)</em><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>
  
    <div class="actions">
      <%= f.submit "登録", class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>
  
  <p>既にアカウントをお持ちですか？</br>こちらからログインしてください。</p>
  <%= render "devise/shared/links" %>
  <p class="mt-5 mb-3 text-muted" id="copyright">© 2020 ダンスペアズ All Rights Reserved.</p>
</div>

