<h1 class="text-center">ユーザー一覧</h1>
<div class="text-center" id="search">
  <%= form_tag(users_path, method: "get") do %>
  <%= label_tag :gender, "性別" %>
  <%= select_tag :gender, options_for_select(User.genders), include_blank: true %>
  <%= label_tag :prefecture, "住所" %>
  <%= select_tag :prefecture, options_for_select(User.prefectures), include_blank: true %>
  <%= submit_tag "検索" %>
  <% end %>
</div>

<div class="jumbotron jumbotron-cover">
  <div class="row">
    <div class="card-deck">
      <% @users.each do |user| %>
        <div class="col-sm-6">
          <div class="card bg-success">
            <%= attachment_image_tag user, :profile_image, fallback: "no-image.png", class: "card-img-top img-thumbnail" %>
            <div class="card-body">
              <h4 class="card-title">
                <%= link_to user_path(user) do %>
                  <h4 class="card-title"><%= user.username %></h4>
                <% end %>
              </h4>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><%= user.gender %></li>
            <li class="list-group-item"><%= user.prefecture %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>