<h1 class="text-center">ユーザー詳細</h1>
<section class="jumbotron text-center">
  <div class="container">
    <div class="card mb-3" style="max-width: 500px;">
      <div class="row no-gutters">
        <div class="col-lg-3">
          <div class="card-img">
            <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", size:'100x100' %>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="card-body">
            <h4 class="card-title"><%= @user.username %></h4>
            <p class="card-text"><%= @user.gender %></p>
            <p class="card-text"><%= @user.prefecture %></p>
            <p class="card-text"><%= @user.profile %></p>
          </div>
        </div>
      </div>
    </div>
    <p>
      <% if @user.id == current_user.id %>
        <%= link_to "編集", edit_user_path(@user), class: "btn btn-primary my-2" %>
      <% else %>
        <%= link_to "メッセージを送る！", "#", class: "btn btn-primary my-2" %>
      <% end %>
      <%= link_to "戻る", users_path, class: "btn btn-secondary my-2" %>
    </p>
  </div>
</section>