<h1 class="text-center">ユーザー詳細</h1>
<div class="jumbotron jumbotron-cover">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png", class: "card-img-top" %>
        <div class="card-body">
          <h4 class="card-title">
            <h4 class="card-title"><%= @user.username %></h4>
          </h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">性別：<%= @user.gender %></li>
          <li class="list-group-item">住所：<%= @user.prefecture %></li>
          <li class="list-group-item">プロフィール：<br><%= @user.profile %></li>
        </ul>
      </div>
      <p>
        <% if @user.id == current_user.id %>
          <%= link_to "編集", edit_user_path(@user), class: "btn btn-primary my-2" %>
        <% else %>
          <% if @isRoom == true %>
            <p><a href="/rooms/<%= @roomId %>">チャットへ</a>
          <% else %>
            <%= form_for @room do |f| %>
              <%= fields_for @entry do |e| %>
                <%= e.hidden_field :user_id, :value=> @user.id %>
              <% end %>
              <%= f.submit "チャットを始める", class: "btn btn-primary my-2" %>
            <% end %>
          <% end %>
        <% end %>
        <%= link_to "戻る", users_path, class: "btn btn-secondary my-2" %>
      </p>
    </div>
  </div>
</div>